$white:#ffffff;
$white-1:#f0e3d4;
$white-2:#eeeeee;
$brown-1:#784b1e;
$brown-2:#563310;
$brown-3:#ffe9bc;
$brown-4:#f0e3d4;
$brown-5:#d8c9b8;
$brown-6:#bca283;
$brown-7:#aa9072;
$orange-1:#ff6e17;
$orange-2:#ff8438;
$grey-1:#999999;
$grey-2:#666666;
$grey-3:#333333;
$grey-4:#dfdbcf;
$grey-6:#9d9d9d;
$grey-7:#3a372e;
$red:red;





$font-size-max:24px;
$font-size-more-large:17px;
$font-size-large:16px;
$font-size-big:15px;
$font-size-bigger:14px;
$font-size-middle:13px;
$font-size-small:12px;
$font-size-smaller:8px;