input::placeholder {
  color: #999999 !important;
}
/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  height: 50px;
  outline-offset: -2px;
  outline: 2px solid #fff;
  -webkit-border-radius: 4px;
  border: 2px solid #fff;
}

/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
  height: 50px;
  -webkit-border-radius: 4px;
}

/*---滚动条大小--*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 0;

}

::-webkit-scrollbar-thumb:active {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 4px;
}

.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.inline-block{
  display: inline-block;
}
table {
  thead{
    tr th{
      height: 48px;
      background: rgba(236, 241, 249, 1) !important;
      color: #a2aabb;
      &:first-child{
        div{
          padding-left: 25px !important;
        }
      }
      &:last-child{
        div{
          //padding-right: 25px !important;
        }
      }
    }
  }
  tbody{
    tr td{
      height: 40px ;
      padding: 0 !important;
      &:first-child{
        div{
          padding-left: 25px !important;
        }
      }
      &:last-child{
        div{
          padding-right: 25px !important;
        }
      }
    }
  }
  button.el-button--small:first-child{
    margin-left: 0 !important;
  }
  .el-progress{
    width: 80%;
  }
}
ul{
  li{
    list-style: none;
  }
}
/*图片查看*/
.viewer-reset,.viewer-zoom-in,.viewer-zoom-out,.viewer-one-to-one{
  display: none !important;
}
.viewer-prev{
  position: fixed;
  top: 50%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.8);
}
.viewer-next{
  position: fixed;
  top: 50%;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.8);
}

